node-red/flow.json
[
  {
    "id": "tab_cardioia",
    "type": "tab",
    "label": "CardioIA",
    "disabled": false,
    "info": "Dashboard de monitoramento cardiaco - Fase 3 Cap 1"
  },
  {
    "id": "ui_tab_cardioia",
    "type": "ui_tab",
    "name": "CardioIA",
    "icon": "favorite",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_sinais",
    "type": "ui_group",
    "name": "Sinais Vitais",
    "tab": "ui_tab_cardioia",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "mqtt_broker_hivemq",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "mqtt_in_sinais",
    "type": "mqtt in",
    "z": "tab_cardioia",
    "name": "MQTT CardioIA",
    "topic": "cardioia/italo/sinais",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt_broker_hivemq",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 120,
    "wires": [["fn_extrair"]]
  },
  {
    "id": "fn_extrair",
    "type": "function",
    "z": "tab_cardioia",
    "name": "Extrair campos",
    "func": "msg.bpm  = msg.payload.bpm;\nmsg.temp = msg.payload.temp;\nmsg.umid = msg.payload.umid;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 120,
    "wires": [["fn_bpm", "fn_temp", "fn_alerta"]]
  },
  {
    "id": "fn_bpm",
    "type": "function",
    "z": "tab_cardioia",
    "name": "BPM -> chart",
    "func": "return { payload: msg.bpm, topic: 'BPM' };",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 60,
    "wires": [["chart_bpm"]]
  },
  {
    "id": "chart_bpm",
    "type": "ui_chart",
    "z": "tab_cardioia",
    "name": "Grafico BPM",
    "group": "ui_group_sinais",
    "order": 1,
    "width": 6,
    "height": 4,
    "label": "Batimentos por minuto",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "aguardando dados...",
    "dot": false,
    "ymin": "0",
    "ymax": "180",
    "removeOlder": "10",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e", "#2ca02c", "#98df8a", "#d62728", "#ff9896", "#9467bd", "#c5b0d5"],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 760,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "fn_temp",
    "type": "function",
    "z": "tab_cardioia",
    "name": "Temp -> gauge",
    "func": "return { payload: msg.temp };",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 120,
    "wires": [["gauge_temp"]]
  },
  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_cardioia",
    "name": "Gauge Temperatura",
    "group": "ui_group_sinais",
    "order": 2,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperatura",
    "label": "C",
    "format": "{{value | number:1}}",
    "min": 20,
    "max": 45,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "37",
    "seg2": "38",
    "diff": false,
    "className": "",
    "x": 780,
    "y": 120,
    "wires": []
  },
  {
    "id": "fn_alerta",
    "type": "function",
    "z": "tab_cardioia",
    "name": "Detectar alerta",
    "func": "var alerta = '';\nif (msg.bpm > 120)  alerta += 'TAQUICARDIA (' + msg.bpm + ' bpm) ';\nif (msg.temp > 38) alerta += 'FEBRE (' + msg.temp.toFixed(1) + 'C) ';\nif (alerta === '') {\n  msg.payload = 'OK - sinais normais';\n  msg.cor = '#00b500';\n} else {\n  msg.payload = 'ALERTA: ' + alerta;\n  msg.cor = '#ca3838';\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 180,
    "wires": [["text_alerta"]]
  },
  {
    "id": "text_alerta",
    "type": "ui_text",
    "z": "tab_cardioia",
    "name": "Indicador alerta",
    "group": "ui_group_sinais",
    "order": 3,
    "width": 12,
    "height": 2,
    "label": "Status clinico",
    "format": "<span style=\"font-size:24px;color:{{msg.cor}};font-weight:bold\">{{msg.payload}}</span>",
    "layout": "row-spread",
    "className": "",
    "x": 780,
    "y": 180,
    "wires": []
  }
]
